.navbar {
  width: 100%;
  background-color: #0070f3; /* ლურჯი ფონი */
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navList {
  display: flex;
  justify-content: center; 
  gap: 50px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.navList li a:hover {
  color: #ffcc00; 