.nav {
  display: flex;
  gap: 30px;
  padding: 16px 40px;
  background-color: #111;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.active {
  border-bottom: 2px solid #ff9900;
}