.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  width: 220px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card h4 {
  font-size: 14px;
  height: 40px;
  overflow: hidden;
}

.card p {
  font-weight: 600;
}