.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 40px;
    background-color: #f3f3f3;
    border-top: 1px solid #ddd;
    front-size: 13px;
    color: #555;
}

.left{
    display: flex;
    gap: 20px;
}

.left a{
    text-decoration: none;
    color: #00066c0;
}

.right{
    color: #555;
}