.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #111;
    color: white;
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}
